extends ../layout

block content
  h3.
    #{school.name}
  div
    p ID: #{school._id}
    p Название: #{school.name}
    p Номер: #{school.number}
    p Категории: #{school.category}
    p Описание: 
      pre #{school.description}
    ul Адреса:    
      li 1. #{school.adress1}
      li 2. #{school.adress2}
      li 3. #{school.adress3}
      li 4. #{school.adress4}
      li 5. #{school.adress5}
      li 6. #{school.adress6}
      li 7. #{school.adress7}
      li 8. #{school.adress8}
      li 9. #{school.adress9}
      li 10. #{school.adress10}
      li 11. #{school.adress11}
      li 12. #{school.adress12}
      li 13. #{school.adress13}
      li 14. #{school.adress14}
      li 15. #{school.adress15}
      li 16. #{school.adress16}
      li 17. #{school.adress17}
      li 18. #{school.adress18}
      li 19. #{school.adress19}
      li 20. #{school.adress20}
     
 
